body {
  font-family: Arial, sans-serif;
  background-color: #050404;
  margin: 0;
  padding: 0;
  color: rgb(146, 93, 93);
}

h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
}
